@model IEnumerable<ui_kalbe.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.intCustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtCustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtCustomerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bitGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtmBirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inserted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.intCustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtCustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtCustomerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bitGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtmBirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inserted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.intCustomerID }) |
            @Html.ActionLink("Details", "Details", new { id = item.intCustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.intCustomerID })
        </td>
    </tr>
}

</table>
